PGADMIN_DEFAULT_EMAIL=root@gmail.com
PGADMIN_DEFAULT_PASSWORD=root
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin  

HOST=postgres
PORT=5432
DATABASE=dormitory
USERNAME=admin
PASSWORD=admin
POSTGRES_MULTIBLE_DATABASES=dormitory, test